stepfunctions_definition.json
{
  "Comment": "Orquestación del TFM Trading System",
  "StartAt": "initialize_batch_context",
  "States": {
    "initialize_batch_context": {
      "Type": "Pass",
      "Parameters": {
        "batch_date.$": "$$.Execution.StartTime"
      },
      "ResultPath": "$.pipeline_context",
      "Next": "lambda_ingestion"
    },
    "lambda_ingestion": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "lambda_ingestion",
        "Payload": {
          "batch_date.$": "$.pipeline_context.batch_date"
        }
      },
      "TimeoutSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Next": "parallel_analysis"
    },
    "parallel_analysis": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "lambda_sentiment",
          "States": {
            "lambda_sentiment": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "lambda_sentiment",
                "Payload": {
                  "batch_date.$": "$.pipeline_context.batch_date"
                }
              },
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "lambda_indicators",
          "States": {
            "lambda_indicators": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "lambda_indicators",
                "Payload": {
                  "batch_date.$": "$.pipeline_context.batch_date"
                }
              },
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        }
      ],
      "Next": "lambda_bayesian"
    },
    "lambda_bayesian": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "lambda_bayesian",
        "Payload": {
          "batch_date.$": "$.pipeline_context.batch_date"
        }
      },
      "TimeoutSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "handle_error_bayesian",
          "ResultPath": "$.error_bayesian"
        }
      ],
      "Next": "lambda_report"
    },
    "lambda_report": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "lambda_report",
        "Payload": {
          "batch_date.$": "$.pipeline_context.batch_date"
        }
      },
      "TimeoutSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "handle_error_report",
          "ResultPath": "$.error_report"
        }
      ],
      "Next": "success"
    },
    "success": {
      "Type": "Succeed"
    },
    "handle_error_bayesian": {
      "Type": "Pass",
      "Result": "Error in lambda_bayesian",
      "Next": "failure"
    },
    "handle_error_report": {
      "Type": "Pass",
      "Result": "Error in lambda_report",
      "Next": "failure"
    },
    "failure": {
      "Type": "Fail",
      "Error": "PipelineFailed",
      "Cause": "One or more lambda functions failed"
    }
  }
}
