stepfunctions_definition.json
{
  "Comment": "Orquestación del TFM Trading System",
  "StartAt": "initialize_batch_context",
  "States": {
    "initialize_batch_context": {
      "Type": "Pass",
      "Parameters": {
        "batch_date.$": "$$.Execution.StartTime",
        "run_id.$": "$$.Execution.Id",
        "execution_name.$": "$$.Execution.Name",
        "request.$": "$"
      },
      "ResultPath": "$.pipeline_context",
      "Next": "lambda_ingestion"
    },
    "lambda_ingestion": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "lambda_ingestion",
        "Payload": {
          "pipeline_context.$": "$.pipeline_context"
        }
      },
      "TimeoutSeconds": 300,
      "ResultPath": "$.ingestion_result",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Next": "lambda_macro_ingestion"
    },
    "lambda_macro_ingestion": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "lambda_macro_ingestion",
        "Payload": {
          "pipeline_context.$": "$.pipeline_context"
        }
      },
      "TimeoutSeconds": 300,
      "ResultPath": "$.macro_ingestion_result",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "lambda_news_filter",
          "ResultPath": "$.macro_ingestion_error",
          "Comment": "Si falla la ingesta macro, el pipeline continúa sin contexto macro"
        }
      ],
      "Next": "lambda_news_filter"
    },
    "lambda_news_filter": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "lambda_news_filter",
        "Payload": {
          "pipeline_context.$": "$.pipeline_context"
        }
      },
      "TimeoutSeconds": 900,
      "ResultPath": "$.news_filter_result",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "lambda_macro_context",
          "ResultPath": "$.news_filter_error",
          "Comment": "Si el filtro falla, continúa igualmente hacia macro_context"
        }
      ],
      "Next": "lambda_macro_context"
    },
    "lambda_macro_context": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "lambda_macro_context",
        "Payload": {
          "pipeline_context.$": "$.pipeline_context"
        }
      },
      "TimeoutSeconds": 300,
      "ResultPath": "$.macro_context_result",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "parallel_analysis",
          "ResultPath": "$.macro_context_error",
          "Comment": "Si falla el contexto macro, el pipeline continúa sin ajuste macro"
        }
      ],
      "Next": "parallel_analysis"
    },
    "parallel_analysis": {
      "Type": "Parallel",
      "ResultPath": "$.parallel_result",
      "Branches": [
        {
          "StartAt": "lambda_sentiment",
          "States": {
            "lambda_sentiment": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "lambda_sentiment",
                "Payload": {
                  "pipeline_context.$": "$.pipeline_context"
                }
              },
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "lambda_indicators",
          "States": {
            "lambda_indicators": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "lambda_indicators",
                "Payload": {
                  "pipeline_context.$": "$.pipeline_context"
                }
              },
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        }
      ],
      "Next": "lambda_bayesian"
    },
    "lambda_bayesian": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "lambda_bayesian",
        "Payload": {
          "pipeline_context.$": "$.pipeline_context"
        }
      },
      "TimeoutSeconds": 300,
      "ResultPath": "$.bayesian_result",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "handle_error_bayesian",
          "ResultPath": "$.error_bayesian"
        }
      ],
      "Next": "lambda_report"
    },
    "lambda_report": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "lambda_report",
        "Payload": {
          "pipeline_context.$": "$.pipeline_context"
        }
      },
      "TimeoutSeconds": 300,
      "ResultPath": "$.report_result",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "handle_error_report",
          "ResultPath": "$.error_report"
        }
      ],
      "Next": "success"
    },
    "success": {
      "Type": "Succeed"
    },
    "handle_error_bayesian": {
      "Type": "Pass",
      "Result": "Error in lambda_bayesian",
      "Next": "failure"
    },
    "handle_error_report": {
      "Type": "Pass",
      "Result": "Error in lambda_report",
      "Next": "failure"
    },
    "failure": {
      "Type": "Fail",
      "Error": "PipelineFailed",
      "Cause": "One or more lambda functions failed"
    }
  }
}
